#CBUniversityRegister { width:495px; height:400px; 
                background: url("/mimes/images/grey.png") repeat; }                
#CBUniversityRegister li { float:none;}

#CBDisplayUniversity { width:495px; height:400px;
                background: url("/mimes/images/grey.png") repeat; }
#CBDisplayUniversity li { float:none;}

#CBUserLogin { width:495px; height:500px;
                background: url("/mimes/images/grey.png") repeat; }
#CBUserLogin li { float:none;}

#CBUserRegister { width:495px; height:500px;
                background: url("/mimes/images/grey.png") repeat; }
#CBUserRegister li { float:none;}