#AccountAccess { width:800px; height:600px; margin-top:20px;
                background: url("/gd.trxn.com/mimes/images/grey.png") repeat; }
#AccountAccess ul { padding-top:10px; padding-bottom:10px; }
#AccountAccess li { color:#cecece; font-size:16px; font-weight:bold; margin-left:5px; }

#CBlogin { height:185px; width:350px;
            background: url("/gd.trxn.com/mimes/images/grey.png") repeat;}

#CBforgotpassword { height:140px; width:350px;
            background: url("/gd.trxn.com/mimes/images/grey.png") repeat;}

#CBregister { height:485px; width:350px; float: right; margin-top:-335px; margin-right:10px;
            background: url("/gd.trxn.com/mimes/images/grey.png") repeat;}
#CBregister ul { margin-top:-10px; }
